<html>
<head>
    <title>Examples</title>
    <style>
        dd span { font-size: 80%; color: #999 }
        dt { font-weight: bold; font-family: "Courier New", sans-serif; border-top: 1px solid #999; padding-top: 10px;  margin: 10px }
    </style>
</head>
<body>
    <h1>{% block title '' %}</h1>
    {% block content "<p>I'm default content!</p>" %}
</body>
</html>
